{{ define "main" }}
<!-- html for "home" page -->
<!-- this is messy - theme structure & content is combined-->
<!-- these comments must come after the define main statement -->
<header>
    <h1>{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
    <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>
{{ .Content }}
<div style="display: flex; 
    flex-direction: row; 
    gap: 45px;
    width: 1040px; 
    position: relative; 
    left: -200px" class="menu">
    <div style="flex: 1 1 0px">
        <h2><a href="/arch">architecture</a></h2>
        {{ partial "menu_item_custom.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
    </div>
    <div style="flex: 1 1 0px">
        <h2><a href="/dev">software</a></h2>
        {{ partial "menu_item_custom.html" (dict "context" . "collection" $.Site.Data.menu1.entries) }}
    </div>
    <div style="flex: 1 1 0px">
        <h2><a href="/posts">other</a></h2>
        {{ partial "menu_item_custom.html" (dict "context" . "collection" $.Site.Data.menu2.entries) }}
    </div>
</div>
{{ end }}